name: build

on: push
jobs:
  ping-google:
    runs-on: actuated
    steps:
      - name: Run a ping to Google with Docker
        run: |
          docker run --rm -t -i alpine:latest ping -c 3 google.com
